* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* phần này là phần header */
.header {
  height: 60px;
  background-color: ghostwhite;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

/* Header left */
.header-left {
  display: flex;
  gap: 20px;
  position: relative;
  left: 24px;
  height: 30px;
  width: 40%;
}

.input-header-left {
  width: 80%;
  border: 1px solid gray;
  border-radius: 4px;
}
.fa-brands {
  font-size: 30px;
}

/* header right */
.header-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  right: 24px;
  font-size: 18px;
  align-items: center;
}

.header-right-1 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 6px;
  align-items: center;
}

.trang-ca-nhan {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trang-ca-nhan img {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 6px;
}

.header-right-2 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 6px;
}
/* Phần này là main */
.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Phần này là main-left */
.main-left {
  background-color: ghostwhite;
  flex: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
}

.in-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  top: 60px;
  font-size: 18px;
}

.in-2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  position: relative;
  top: 60px;
  left: -25px;
}
.in-2-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 8px;
  top: 0px;
}

/* Main Center */
.main-center {
  background-color: ghostwhite;
  flex: 6;
  height: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.center1 {
  display: flex;
  flex: 1;
  background-color: rgb(167, 243, 243);
  flex-direction: column;
}
.textarea {
  width: 100%;
  height: 100px;
}
.button {
  display: flex;
  width: 100%;
  height: 61px;
}
.btn1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn2 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn3 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.center2 {
  display: flex;
  flex: 2;
  background-color: beige;
}
.center3 {
  display: flex;
  flex: 2;
  background-color: aquamarine;
}

.main-right {
  background-color: ghostwhite;
  flex: 2.5;
  height: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right1 {
  background-color: aqua;
  display: flex;
  flex: 1.2;
}
.right2 {
  background-color: aquamarine;
  display: flex;
  flex: 2;
}
.right3 {
  background-color: bisque;
  display: flex;
  flex: 2;
}
